<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
<%- include('./partials/nav.ejs')%>
<div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores cumque, earum error illo in, labore natus nemo, non odit provident quas rerum sapiente temporibus voluptatibus! Aspernatur at consequuntur cum fuga, fugiat illum inventore ipsam odio placeat praesentium reprehenderit similique tempora ut? Animi autem cumque dolore ducimus eligendi enim error harum illo molestiae nostrum obcaecati perferendis placeat porro quis recusandae, reprehenderit suscipit ut voluptatem. Alias doloremque laudantium libero mollitia quibusdam quo, tempore? Atque consequatur culpa deserunt, dolores, facilis illum nobis officiis quae quam quasi qui quia quos rem repellendus rerum sint temporibus vel voluptate. Error ipsum labore numquam odit voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores cumque, earum error illo in, labore natus nemo, non odit provident quas rerum sapiente temporibus voluptatibus! Aspernatur at consequuntur cum fuga, fugiat illum inventore ipsam odio placeat praesentium reprehenderit similique tempora ut? Animi autem cumque dolore ducimus eligendi enim error harum illo molestiae nostrum obcaecati perferendis placeat porro quis recusandae, reprehenderit suscipit ut voluptatem. Alias doloremque laudantium libero mollitia quibusdam quo, tempore? Atque consequatur culpa deserunt, dolores, facilis illum nobis officiis quae quam quasi qui quia quos rem repellendus rerum sint temporibus vel voluptate. Error ipsum labore numquam odit voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores cumque, earum error illo in, labore natus nemo, non odit provident quas rerum sapiente temporibus voluptatibus! Aspernatur at consequuntur cum fuga, fugiat illum inventore ipsam odio placeat praesentium reprehenderit similique tempora ut? Animi autem cumque dolore ducimus eligendi enim error harum illo molestiae nostrum obcaecati perferendis placeat porro quis recusandae, reprehenderit suscipit ut voluptatem. Alias doloremque laudantium libero mollitia quibusdam quo, tempore? Atque consequatur culpa deserunt, dolores, facilis illum nobis officiis quae quam quasi qui quia quos rem repellendus rerum sint temporibus vel voluptate. Error ipsum labore numquam odit voluptatibus.</p>
</div>
<%- include('./partials/footer.ejs')%>
</body>
</html>